---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ArrowIcon from "../components/ArrowIcon.astro";

const articles = await getCollection("projects", (item) =>
	item.slug.endsWith("/article"),
);

const aboutSection = {
	title: "about",
	description: `Hello! My name is Sarah and I’m a designer currently living in Portland, Oregon.<br/><br/>I like to create aesthetically pleasing and highly functional online experiences. I’m interested in UI design, high-fidelity prototypes, scalable systems, and a well-organized workspace.<br/><br/>When I’m not doing my day job, I can be found working on my novel, playing video games, or brewing tea.<br/><br/><a href="mailto:skracker@gmail.com" target="_blank">Say hello!</a>`,
};

const selectedWorkSection = {
	title: "selected work",
	works: articles.map((article) => ({
		company: article.data.company,
		title: article.data.description,
		link: `/projects/${article.slug.split("/")[0]}`,
	})),
};

const resumeSection = {
	title: "experience",
	jobs: [
		{
			company: "barre3",
			role: "visual designer",
			date: "2021 - present",
		},
		{
			company: "freelance",
			role: "designer",
			date: "2016 - present",
		},
		{
			company: "rejuvenation",
			role: "graphic designer",
			date: "2018 - 2021",
		},
		{
			company: "ponzi vineyards",
			role: "design specialist",
			date: "2016 - 2018",
		},
	],
	link: {
		text: "see full resume",
		url: "/resume",
	},
};

const funStuffSection = {
	title: "fun stuff",
	stuff: [
		{
			title: "my wedding",
			link: "https://greenweddingshoes.com/colorful-multicultural-wedding-in-santa-barbara/",
			target: "_blank",
		},
		{
			title: "goodreads",
			link: "https://www.goodreads.com/user/show/18971444-sarah",
			target: "_blank",
		},
	],
};

const otherWorkSection = {
	title: "other creative things",
	work: [
		{
			title: "medium",
			link: "https://medium.com/@sracks",
			target: "_blank",
		},
		{
			title: "photography",
			link: "https://www.behance.net/sarahotoya",
			target: "_blank",
		},
	],
};
---

<Layout title="sarah otoya">
	<div
		class="items-start grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 xl:grid-cols-3"
	>
		<section id="about" class="p-8 bg-yellow-100 md:p-10 rounded-50">
			<h2 class="mb-4 text-lg font-medium">{aboutSection.title}</h2>
			<p class="[&>a]:underline" set:html={aboutSection.description} />
		</section>

		<section id="selected-work" class="row-span-2">
			<h2 class="px-8 mb-4 text-lg font-medium">
				{selectedWorkSection.title}
			</h2>
			{
				selectedWorkSection.works.map((work) => (
					<a
						href={work.link}
						class="flex items-center justify-between px-8 py-6 mb-5 border-2 border-yellow-500 gap-16 rounded-50"
					>
						<div>
							<h3 class="text-base font-medium">{work.company}</h3>
							<p class="">{work.title}</p>
						</div>
						<ArrowIcon />
					</a>
				))
			}
		</section>

		<section id="resume" class="flex flex-col p-10 bg-yellow-100 rounded-50">
			<h2 class="mb-4 text-lg font-medium">{resumeSection.title}</h2>
			{
				resumeSection.jobs.map((job) => (
					<div class="flex justify-between mb-3">
						<div>
							<h3 class="text-base font-medium">{job.company}</h3>
							<p class="text-sm">{job.role}</p>
						</div>
						<p class="text-sm">{job.date}</p>
					</div>
				))
			}
			<a class="font-light text-right underline" href={resumeSection.link.url}>
				{resumeSection.link.text}
			</a>
		</section>

		<section id="fun-stuff" class="flex-1 p-10 bg-yellow-100 rounded-50">
			<h2 class="mb-4 text-lg font-medium">{funStuffSection.title}</h2>
			<div class="flex flex-wrap gap-6">
				{
					funStuffSection.stuff.map((stuff) => (
						<a
							href={stuff.link}
							target={stuff.target}
							class="flex flex-col items-center justify-center p-4 mb-3 bg-yellow-500 w-36 h-36 md:w-40 md:h-40 gap-4 rounded-50"
						>
							<p class="text-base font-medium text-center">{stuff.title}</p>
							<ArrowIcon />
						</a>
					))
				}
			</div>
		</section>

		<section id="other-work" class="flex-1 p-10 bg-yellow-100 rounded-50">
			<h2 class="mb-4 text-lg font-medium">{otherWorkSection.title}</h2>
			<div class="flex flex-col gap-4">
				{
					otherWorkSection.work.map((work) => (
						<a
							href={work.link}
							target={work.target}
							class="flex items-center justify-between px-8 py-6 mb-3 bg-yellow-500 gap-4 rounded-50"
						>
							<p class="text-base font-medium">{work.title}</p>
							<ArrowIcon />
						</a>
					))
				}
			</div>
		</section>
	</div>
</Layout>
