---
import { getCollection } from "astro:content";
import Layout, { links } from "../layouts/Layout.astro";
import ArrowIcon from "../components/ArrowIcon.astro";

const articles = await getCollection("projects", (item) =>
	item.slug.endsWith("/article"),
);

const aboutSection = {
	title: "about",
	description: `Hello! My name is Sarah and I’m a designer currently living in Portland, Oregon.<br/><br/>I like to create aesthetically pleasing and highly functional online experiences. I’m interested in UI design, high-fidelity prototypes, scalable systems, and a well-organized workspace.<br/><br/>When I’m not doing my day job, I can be found working on my novel, playing video games, or brewing tea.<br/><br/><a href="${links[1].link}" target="_blank">Say hello!</a>`,
};

const selectedWorkSection = {
	title: "selected work",
	works: articles
		.sort((a, b) => a.data.order - b.data.order)
		.map((article) => ({
			company: article.data.company,
			title: article.data.description,
			link: `/projects/${article.slug.split("/")[0]}`,
			slug: article.slug.split("/")[0],
		})),
};

const resumeSection = {
	title: "experience",
	jobs: [
		{
			company: "barre3",
			role: "visual designer",
			date: "2021 - present",
		},
		{
			company: "freelance",
			role: "designer",
			date: "2016 - present",
		},
		{
			company: "rejuvenation",
			role: "graphic designer",
			date: "2018 - 2021",
		},
		{
			company: "ponzi vineyards",
			role: "design specialist",
			date: "2016 - 2018",
		},
	],
	link: {
		text: "see full resume",
		url: "/sarah-resume.pdf",
		target: "_blank",
	},
};

const funStuffSection = {
	title: "fun stuff",
	stuff: [
		{
			title: "my wedding",
			link: "https://greenweddingshoes.com/colorful-multicultural-wedding-in-santa-barbara/",
			target: "_blank",
		},
		{
			title: "goodreads",
			link: "https://www.goodreads.com/user/show/18971444-sarah",
			target: "_blank",
		},
	],
};

const otherWorkSection = {
	title: "other creative things",
	work: [
		{
			title: "medium",
			link: "https://medium.com/@sracks",
			target: "_blank",
		},
		{
			title: "photography",
			link: "https://www.behance.net/sarahotoya",
			target: "_blank",
		},
	],
};
---

<Layout>
	<div
		class="flex flex-col h-full p-2 md:max-h-[90rem] xl:max-h-[60rem] contain gap-4 md:flex-wrap"
	>
		<section
			id="about"
			class="p-8 bg-yellow-100 xl:w-third md:w-half xl:order-1 md:order-1 md:p-10 rounded-50"
		>
			<h2 class="mb-4 text-lg font-medium font-kopik">{aboutSection.title}</h2>
			<p class="[&>a]:underline" set:html={aboutSection.description} />
		</section>

		<section
			id="selected-work"
			class="xl:w-third md:w-half md:order-2 xl:order-2 md:mt-10"
		>
			<h2 class="px-8 mb-4 text-lg font-medium font-kopik">
				{selectedWorkSection.title}
			</h2>
			{
				selectedWorkSection.works.map((work) => (
					<a
						href={work.link}
						class="flex items-center justify-between h-32 px-8 py-6 mb-5 border-2 border-yellow-500 gap-16 rounded-50 group hover:border-yellow-700 transition-colors focus:border-yellow-700 focus:outline-none"
					>
						<div>
							<h3 class="text-base font-medium">{work.company}</h3>
							<p class="">{work.title}</p>
						</div>
						<div>
							<ArrowIcon />
						</div>
					</a>
				))
			}
		</section>

		<section
			id="resume"
			class="flex flex-col p-10 bg-yellow-100 xl:w-third md:w-half md:order-1 xl:order-3 rounded-50"
		>
			<h2 class="mb-4 text-lg font-medium font-kopik">{resumeSection.title}</h2>
			{
				resumeSection.jobs.map((job) => (
					<div class="flex justify-between mb-3">
						<div>
							<h3 class="text-base font-medium">{job.company}</h3>
							<p class="text-base">{job.role}</p>
						</div>
						<p class="text-base">{job.date}</p>
					</div>
				))
			}
			<a
				class="text-base font-light text-right underline"
				href={resumeSection.link.url}
				target={resumeSection.link.target}
			>
				{resumeSection.link.text}
			</a>
		</section>

		<section
			id="fun-stuff"
			class="p-10 bg-yellow-100 xl:w-third md:w-half md:order-1 xl:order-1 rounded-50"
		>
			<h2 class="mb-4 text-lg font-medium font-kopik">
				{funStuffSection.title}
			</h2>
			<div class="flex flex-col gap-4">
				{
					funStuffSection.stuff.map((stuff) => (
						<a
							href={stuff.link}
							target={stuff.target}
							class="flex items-center justify-between px-8 py-6 mb-3 bg-yellow-500 group gap-4 rounded-50 hover:bg-yellow-600 transition-colors"
						>
							<p class="text-base font-medium">{stuff.title}</p>
							<ArrowIcon class="transition-colors group-hover:text-yellow-100" />
						</a>
					))
				}
			</div>
		</section>

		<section
			id="other-work"
			class="flex-1 p-10 bg-yellow-100 xl:w-third md:w-half md:order-2 xl:order-3 rounded-50"
		>
			<h2 class="mb-4 text-lg font-medium font-kopik">
				{otherWorkSection.title}
			</h2>
			<div class="flex flex-col gap-4">
				{
					otherWorkSection.work.map((work) => (
						<a
							href={work.link}
							target={work.target}
							class="flex items-center justify-between px-8 py-6 mb-3 bg-yellow-500 group gap-4 rounded-50 hover:bg-yellow-600 transition-colors"
						>
							<p class="text-base font-medium">{work.title}</p>
							<ArrowIcon class="transition-colors group-hover:text-yellow-100" />
						</a>
					))
				}
			</div>
		</section>
	</div>
</Layout>

<style>
	.contain::before,
	.contain::after {
		content: "";
		flex-basis: 100%;
		width: 0;
		order: 2;
	}
</style>
